.Nav{
    width: 100vw;
    height: 75px;
    background-color: darkred;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
}

#nav-logo{
    height: 60px;
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-title{
    height: 60px;
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links{
    list-style: none;
    display: flex;
    height: 60px;
    width: 270px;
}

.link{
    padding: 20px;
}