#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.nav-bar{
  background-color: black;
  color: white;
  width: 100vw;
  height: 180px;
}

.card{
  background-color: lightcyan;
  padding: 10px;
  margin: 10px;
  border: solid black 1px;
  width: 80vw;
}

.footer{
  background-color: black;
  color: white;
  width: 100vw;
  height: 90px;
}

